.App {
  text-align: center;
}

.flex {
  display: flex;
}

.f-direction-column {
  flex-direction: column;
}

.m-auto {
  margin: auto;
}

.m-t-25 {
  margin-top: 50px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-40p {
  margin-top: 40%;
}
.h-100vh {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50px;
}

.w-10 {
  width: 6%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 62%;
}

.w-30 {
  width: 37%;
}

.w-100 {
  width: 100%;
}

.h-120 {
  height: 120%;
}
.t-10 {
  margin-top: 10px;
}

.r-10 {
  margin-right: 10px;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: #286efa;
}

.text-white {
  color: white;
}

.ls-2 {
  letter-spacing: 2px;
}

.radius {
  border-radius: 5px;
  border: 1px white solid;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  float: right;
}

.border {
  border: 1px black solid;
}

.f-size-25 {
  font-size: 25px;
}

.f-size-header {
  font-size: 1.65em;
}

.letter-space {
  font-weight: 560;
}

.bold {
  font-weight: bold;
}

.fade-black {
  color: rgb(90, 86, 86);
}

ul {
  margin-left: -20px;
}

li {
  font-size: 9px;
  text-align: left;
  width: 100%;
  padding: 1px;
}

.roboto {
  font-family: Roboto, sans-serif;
}
/* Input shaper */
div.input-block {
  position: relative;
}

div.input-block input {
  font-weight: 500;
  font-size: 1rem;
  color: #051622;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ecedf1;
  outline: none;
}

div.input-block span.placeholder {
  position: absolute;
  margin: 19px 0;
  padding: 0 4px;
  font-family: Roboto, sans-serif;
  color: #3f5569;
  display: flex;
  align-items: center;
  font-size: 1rem;
  top: 0;
  left: 15px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}

select {
  width: 108%;
  padding: 5px 35px 5px 15px;
  font-size: 1rem;
  border: 2px solid #ecedf1;
  height: 34px;
  appearance: none;
  background: white;
  font-family: Roboto, sans-serif;
  color: #3f5569;
}

.custom-select {
  text-align: left;
}

div.input-block input + span.placeholder {
  transform: scale(0.8) translateY(-30px);
  background: #fff;
}

/* Custom styles */
.next {
  width: 109%;
  height: 40px;
  color: white;
  background: #286efa;
  font-weight: bold;
  cursor: pointer;
}

.button-disabled {
  width: 109%;
  height: 40px;
  color: white;
  background: #9da8be;
  font-weight: bold;
}

.form-div {
  width: 85%;
}

#togglePassword {
  margin-left: 330px;
  font-size: 15px;
  color: #286efa;
  cursor: pointer;
  position: relative;
  top: -25px;
}

.footnote {
  font-size: 9px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(87, 82, 82);
  word-spacing: 0.4px;
}

.side-text {
  padding: 47px 110px;
  color: rgb(245, 238, 238);
  line-height: 23px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1em;
}

/* Display error messages */
.input-container[data-error] .input {
  border-color: #e0939a;
  color: #c92432;
  background: #f7f1f1;
}

.input-container[data-error]::after {
  content: attr(data-error);
  font-size: 0.85em;
  color: #c92432;
  display: block;
  margin: 10px 5px;
  text-align: left;
}
